.control-group
  label.control-label(for='counter-name') Nazwa:
  input#counter-name.span6(name='name', type='text', value=counter.name, autofocus=true)
.form-actions
  input.btn.btn-primary(type='submit', value='Zapisz')
